
Lab10_Aksana.Patrubeika_Delegates/ab10_Aksana.Patrubeika_Delegates/
Lab10_Aksana.Patrubeika_Practice/Lab10_Aksana.Patrubeika_Practice/
Lab11_Aksana.Patrubeika_generics/Lab11_Aksana.Patrubeika_generics/
Lab12_Aksana.Patrubeika_Exceptions/Lab12_Aksana.Patrubeika_Exceptions/
Lab13_Aksana.Patrubeika_Json/Lab13_Aksana.Patrubeika_Json/
Lab15_Aksana.Patrubeika_ASP.NET/Lab15_Aksana.Patrubeika_ASP.NET/
Lab16_Aksana.Patrubeika_Controllers/Lab16_Aksana.Patrubeika_Controllers/
