@model List<Passenger> 
@{
    ViewData["Title"] = "All Passengers"; 
}


<table class="table"> 
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Birth</th>
        <th>Email</th>
    </tr>
    @foreach (var item in Model)
    {
                          <tr> 
                                  <td>
                @Html.DisplayFor(modelItem => item.PassengerId)
                                  </td>
                              <td>
                @Html.DisplayFor(modelItem => item.Name)
                              </td>
                               <td>
                @Html.DisplayFor(modelItem => item.Birth)
                               </td>
                               <td>
                @Html.DisplayFor(modelItem => item.Email)
                               </td>                        

                          </tr>
    } 
 </table>