@{
    ViewBag.Title = "Your order has been added to the cart";
}

<h2>@ViewBag.Title</h2>

<div>
    <a asp-controller="Games" asp-action="Index">Back to Games</a>
    <a asp-controller="Cart" asp-action="Index">Follow to Cart</a>
</div>

