@model Diplom_Game.Steam_Aksana.Patrubeika.ViewModel.EditUserProfileAccountViewModel

<form asp-action="EditProfile" asp-controller="User" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>   
    <div class="form-group">
        <label asp-for="SteamName" class="control-label">Steam Name</label>
        <input type="text" asp-for="SteamName" class="form-control" />
    </div>
     <div class="form-group">
         <label asp-for="Img" class="control-label"></label>
         <input asp-for="Img" type="file" class="form-control" name="file" />                
    </div>  
    <div class="form-group">
        <label asp-for="Country" class="control-label">Country</label>
        <input type="text" asp-for="Country" class="form-control" />
    </div>      
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-outline-secondary" />
    </div>
</form>
